@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Honk&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Russo+One&family=Sora:wght@100..800&display=swap");

:root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);

  /* Font and Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.accordianContainer{
    .title{
        font-size: var(--normalFontSize);
        align-items: center;
        padding: 1rem;
        border-radius: 10px;
        justify-content: space-between;
        background: var(--primaryColorLight);

        span{
            cursor: pointer;

            .icon{
                font-size: 1.2rem;
                color: var(--blackColor);
            }
        }
    }

    .description{
        font-size: var(--smallFontSize);
        display: flex;
        align-items: center;
        line-height: 20px;
        white-space: pre-line;
        height: 0;
        transition: all .3s ease-in-out;
        opacity: 0;
        border-radius: 0 0 10px 10px;
        color: var(--blackColor);
        padding: 0 1rem;
        background: var(--cardColor);
    }

    .show{
        height: 140px;
        opacity: 1;
    }
    .activeTitle{
        background: var(--primaryColorLight);
        border-radius: 10px 10px 0 0;
    }
}

.questions{
    .secHeading{
        .flex{
            justify-content: space-between;
        }
        img{
            width: 20px;
        }
        h4{
            padding-top: 1rem;
        }
        p{
            font-size: var(--smallFontSize);
            color: var(--blackColor);
            padding-bottom: 1rem;
        }
    }

    .form{
        .formContent{
            gap: 1rem;

            input, textarea{
                background: var(--cardColor);
                width: 100%;
                padding: 1rem;
                border: none;
                outline: none;
                border-radius: 10px;
                &::placeholder{
                    font-size: var(--smallFontSize);
                    color: var(--blackColor);
                }
            }

            textarea{
                height: 100px;
            }
        }
    }
}