@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);

  /* Font and Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.portfolio {
  padding-top: 120px;
  .secContainer {
    gap: 2rem;

    .leftContent {
      .grid {
        .singlePortfolio {
          gap: 1rem;
          align-items: flex-start;
        }

        .iconDiv {
          img {
            height: 50px;
            width: 50px;
          }
        }

        .info {
          h4 {
            padding-bottom: 0.5rem;
          }
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

// media queries
@media screen and (min-width: 480px) {
  .portfolio {
    .secContainer {
      grid-template-columns: repeat(1,1fr);
      .leftContent {
        .secHeading {
          h3 {
            font-size: var(--h2FontSize);
          }
          p {
            font-size: var(--normalFontSize);
            padding: 0.5rem 0;
          }
        }

        .grid {
          .singlePortfolio {
            gap: 1.5rem;

            .iconDiv {
              img {
                height: 60px;
                width: 60px;
              }
            }

            .info {
              h4 {
                padding-bottom: 0.5rem;
                font-size: var(--h3FontSize);
              }
              p {
                font-size: var(--normalFontSize);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 660px) {
  .portfolio {
    .secContainer {
      .leftContent {
        .secHeading {
          h3 {
            font-size: 2rem;
          }
          p {
            font-size: var(--h3FontSize);
          }
        }

        .grid {
          grid-template-columns: repeat(2, 1fr);
          .singlePortfolio {
            gap: 1.5rem;
          }
        }
      }

      .rightContent {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          margin: auto;
          max-width: 80%;
        }
      }
    }
  }
}

@media screen and (min-width: 820px) {
  .portfolio {
    .secContainer {
      grid-template-columns: repeat(2, 1fr);

      .leftContent {
        .secHeading {
          h3 {
            font-size: var(--h2FontSize);
          }
          p {
            font-size: var(--h3FontSize);
          }
        }

        .grid {
          grid-template-columns: repeat(1, 1fr);
          .singlePortfolio {
            gap: 1.5rem;
          }
        }
      }

      .rightContent {
        img {
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 1240px) {
  .portfolio {
    .secContainer {
      gap: 3rem;

      .leftContent {
        .secHeading {
            h3 {
              font-size: 2rem;
            }
            p {
              font-size: var(--h3FontSize);
            }
        }

        .grid{
            gap: 2.5rem;
            margin-top: 3rem;
            .singlePortfolio{
                gap: 2rem;
            }
        }
      }

      .rightContent{
        img{
            margin-left: 5rem;
            width: 450px;
        }
      }
    }
  }
}
