@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);
  /* Font and Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.portfolio {
  padding-top: 120px;
}
.portfolio .secContainer {
  gap: 2rem;
}
.portfolio .secContainer .leftContent .grid .singlePortfolio {
  gap: 1rem;
  align-items: flex-start;
}
.portfolio .secContainer .leftContent .grid .iconDiv img {
  height: 50px;
  width: 50px;
}
.portfolio .secContainer .leftContent .grid .info h4 {
  padding-bottom: 0.5rem;
}
.portfolio .secContainer .leftContent .grid .info p {
  font-size: 0.8rem;
}

@media screen and (min-width: 480px) {
  .portfolio .secContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio .secContainer .leftContent .secHeading h3 {
    font-size: var(--h2FontSize);
  }
  .portfolio .secContainer .leftContent .secHeading p {
    font-size: var(--normalFontSize);
    padding: 0.5rem 0;
  }
  .portfolio .secContainer .leftContent .grid .singlePortfolio {
    gap: 1.5rem;
  }
  .portfolio .secContainer .leftContent .grid .singlePortfolio .iconDiv img {
    height: 60px;
    width: 60px;
  }
  .portfolio .secContainer .leftContent .grid .singlePortfolio .info h4 {
    padding-bottom: 0.5rem;
    font-size: var(--h3FontSize);
  }
  .portfolio .secContainer .leftContent .grid .singlePortfolio .info p {
    font-size: var(--normalFontSize);
  }
}
@media screen and (min-width: 660px) {
  .portfolio .secContainer .leftContent .secHeading h3 {
    font-size: 2rem;
  }
  .portfolio .secContainer .leftContent .secHeading p {
    font-size: var(--h3FontSize);
  }
  .portfolio .secContainer .leftContent .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio .secContainer .leftContent .grid .singlePortfolio {
    gap: 1.5rem;
  }
  .portfolio .secContainer .rightContent {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .portfolio .secContainer .rightContent img {
    margin: auto;
    max-width: 80%;
  }
}
@media screen and (min-width: 820px) {
  .portfolio .secContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio .secContainer .leftContent .secHeading h3 {
    font-size: var(--h2FontSize);
  }
  .portfolio .secContainer .leftContent .secHeading p {
    font-size: var(--h3FontSize);
  }
  .portfolio .secContainer .leftContent .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio .secContainer .leftContent .grid .singlePortfolio {
    gap: 1.5rem;
  }
  .portfolio .secContainer .rightContent img {
    max-width: 100%;
  }
}
@media screen and (min-width: 1240px) {
  .portfolio .secContainer {
    gap: 3rem;
  }
  .portfolio .secContainer .leftContent .secHeading h3 {
    font-size: 2rem;
  }
  .portfolio .secContainer .leftContent .secHeading p {
    font-size: var(--h3FontSize);
  }
  .portfolio .secContainer .leftContent .grid {
    gap: 2.5rem;
    margin-top: 3rem;
  }
  .portfolio .secContainer .leftContent .grid .singlePortfolio {
    gap: 2rem;
  }
  .portfolio .secContainer .rightContent img {
    margin-left: 5rem;
    width: 450px;
  }
}/*# sourceMappingURL=Portfolio.css.map */