@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);

  /* Font and Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.destination {
  padding-top: 90px;
  .secContainer {
    .redText {
      font-size: var(--smallFontSize);
      font-weight: 500;
      color: var(--primaryColor);
    }

    h3 {
      font-size: var(--h1FontSize);
    }

    .searchField {
      margin-top: 2rem;
      gap: 1rem;

      .inputField {
        background: var(--primaryColorLight);
        padding: 1rem;
        border-radius: var(--borderRadius);
        gap: 0.5rem;
      }

      input {
        background: transparent;
        border: none;
        outline: none;
        width: 100%;
      }

      .icon {
        color: var(--blackColor);
      }
    }

    .btn {
      gap: 0.5rem;
      margin: auto;
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    .search-icon {
      color: white !important;
    }
  }

  .secMenu {
    display: none;
  }

  .destContainer {
    margin-top: 2rem;

    .singleDestination {
      position: relative;
      overflow: hidden;
      border-radius: 2rem;
      height: 260px;

      .imgDiv {
        position: relative;
        height: 100%;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: all 0.3s ease-in-out;
        }
      }

      &:hover {
        .imgDiv {
          img {
            scale: 1.1;
          }
        }
      }

      .descInfo {
        position: absolute;
        z-index: 2;
        bottom: 0;
        width: 100%;
        padding: 1rem 2rem 1rem;
        justify-content: space-between;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0px;
          right: 0;
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.76)
          );
          z-index: -1;
        }

        .text {
          gap: 0.5rem;
          color: var(--whiteColor);
        }

        .name {
          display: block;
          font-weight: 600;
          padding-bottom: 0.3rem;
          // font-weight: var(--h2FontSize);
        }

        .flex,
        .icon {
          font-size: var(--normalFontSize);
        }
      }

      .rating {
        padding: 8px 1rem;
        border-radius: var(--borderRadius);
        background: rgba(245, 245, 245, 0.37);
        border: 1.5px solid rgba(255, 255, 255, 0.241);
        font-size: var(--h3FontSize);
        font-weight: 600;
        color: var(--whiteColor);
      }
    }
  }
}

// media queries
@media screen and (min-width: 520px) {
  .destination {
    .secContainer {
      .searchField {
        grid-template-columns: repeat(2, 1fr);
      }

      .destContainer {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .destination {
    .secContainer {
      .secMenu {
        display: block;
        .flex {
          width: 100%;
          margin: 2rem auto;
          justify-content: center;
          gap: 1rem;

          li {
            background: transparent;
            padding: 10px 17px;
            border-radius: var(--borderRadius);
            color: var(--blackColor);
            border: 1.5px dashed transparent;
            cursor: pointer;

            &:hover {
              color: var(--primaryColor);
              border: 1.5px dashed var(--primaryColor);
            }
          }
          .active {
            color: var(--primaryColor);
            border: 1.5px dashed var(--primaryColor);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1014px) {
  .destination {
    .secContainer {
      .secTitle {
        .redText {
          font-size: var(--normalFontSize);
        }

        h3 {
          font-size: 2.3rem;
        }

        p {
          font-size: var(--h3FontSize);
        }
      }
      .secMenu {
        .flex {
          justify-content: center;

          li {
            background: transparent;
            padding: 10px 17px;
            border-radius: var(--borderRadius);
            color: var(--blackColor);
            border: 1.5px dashed transparent;
            cursor: pointer;

            &:hover {
              color: var(--primaryColor);
              border: 1.5px dashed var(--primaryColor);
            }
          }
        }
      }

      .searchField {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media screen and (min-width: 1148px) {
  .destination {
    .secContainer {
      .destContainer {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .destination {
    .secContainer {
      .secTitle {
        h3 {
          font-size: var(--biggestFontSize);
        }

        p {
          font-size: var(--h2FontSize);
        }
      }
      .destContainer {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
