@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Honk&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Russo+One&family=Sora:wght@100..800&display=swap");

:root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);

  /* Font and Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.footer{
    background: var(--primaryColorLight);
    padding: 2rem 0;

    .secContainer{
        gap: 1.5rem;
        text-align: center;
        align-items: flex-start;

        .logoDiv{
            .footerLogo{
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--blackColor);
                font-weight: 500;
                cursor: pointer;
                padding-bottom: .5rem;
                
                img{
                    width: 130px;
                }
            }

        }

        .socials{
            gap: .5rem;
            margin: auto;
            justify-content: center;

            .icon{
                font-size: 30px;
                background: var(--primaryColor);
                border-radius: 50%;
                padding: 7px;
                color: var(--whiteColor);
                &:hover{
                    background: var(--primaryColorLight);
                    color: var(--blackColor);
                }
            }
        }

        .footerLinks{
            display: grid;
            row-gap: .2rem;

            .linkTitle{
                padding-bottom: .5rem;
                color: var(--blackColor);
                font-weight: 700;
            }

            li{
                &:hover{
                    transform: translate(10px);
                    a{
                        color: var(--primaryColor);
                    }
                }
            }

            a, .phone, .email{
                color: var(--blackColor);
                font-size: 13px;
                font-weight: 500;
            }
        }
    }
}