@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);
  /* Font and Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.footer {
  background: var(--primaryColorLight);
  padding: 2rem 0;
}
.footer .secContainer {
  gap: 1.5rem;
  text-align: center;
  align-items: flex-start;
}
.footer .secContainer .logoDiv .footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blackColor);
  font-weight: 500;
  cursor: pointer;
  padding-bottom: 0.5rem;
}
.footer .secContainer .logoDiv .footerLogo img {
  width: 130px;
  margin-bottom: 0.5rem;
}
.footer .secContainer .socials {
  gap: 0.5rem;
  margin: auto;
  justify-content: center;
}
.footer .secContainer .socials .icon {
  font-size: 30px;
  background: var(--primaryColor);
  border-radius: 50%;
  padding: 7px;
  color: var(--whiteColor);
}
.footer .secContainer .socials .icon:hover {
  background: var(--primaryColorLight);
  color: var(--blackColor);
}
.footer .secContainer .footerLinks {
  display: grid;
  row-gap: 0.2rem;
}
.footer .secContainer .footerLinks .linkTitle {
  padding-bottom: 0.5rem;
  color: var(--blackColor);
  font-weight: 700;
}
.footer .secContainer .footerLinks li:hover {
  transform: translate(10px);
}
.footer .secContainer .footerLinks li:hover a {
  color: var(--primaryColor);
}
.footer .secContainer .footerLinks a,
.footer .secContainer .footerLinks .phone,
.footer .secContainer .footerLinks .email {
  color: var(--blackColor);
  font-size: 13px;
  font-weight: 500;
}
.footer .flex {
  justify-content: center;
  align-items: center;
}
.footer .flex .copyright {
  padding: 0 1rem;
  margin-top: 2rem;
  font-size: 10px;
  text-align: center;
}
.footer .flex .owner {
  color: var(--primaryColor);
}
.footer .flex .owner:hover {
  border-bottom: 2px solid var(--primaryColor);
}

@media screen and (min-width: 448px) {
  .footer .secContainer {
    grid-template-columns: repeat(2, 1fr);
    text-align: start !important;
    align-items: center;
  }
  .footer .secContainer .footerLinks {
    justify-content: center;
  }
  .footer .flex {
    justify-content: center;
    align-items: center;
  }
  .footer .flex .copyright {
    padding: 0 1rem;
    margin-top: 2rem;
    font-size: 12px;
    text-align: center;
  }
  .footer .flex .owner {
    color: var(--primaryColor);
  }
  .footer .flex .owner:hover {
    border-bottom: 2px solid var(--primaryColor);
  }
}
@media screen and (min-width: 640px) {
  .footer .secContainer {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer .flex {
    justify-content: center;
    align-items: center;
  }
  .footer .flex .copyright {
    margin-top: 2rem;
    font-size: 12px;
  }
  .footer .flex .owner {
    color: var(--primaryColor);
  }
  .footer .flex .owner:hover {
    border-bottom: 2px solid var(--primaryColor);
  }
}
@media screen and (min-width: 1024px) {
  .footer .secContainer {
    padding: 2rem 0;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer .secContainer .logoDiv .footerLogo img {
    width: 160px;
    margin-bottom: 0.5rem;
  }
  .footer .flex {
    justify-content: center;
    align-items: center;
  }
  .footer .flex .copyright {
    font-size: 14px;
  }
  .footer .flex .owner {
    color: var(--primaryColor);
  }
  .footer .flex .owner:hover {
    border-bottom: 2px solid var(--primaryColor);
  }
}/*# sourceMappingURL=Footer.css.map */